*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

.clearfix::before,.clearfix:after{
	content: "";
	display: table;
}
.clearfix:after{
	clear: both;
}

.wrapper{
	width: 975px;
	margin: 0 auto;
}

.header{
	height: 81px;
	background-image: url(./images/ndh_01.jpg);
}

.box2{
	height: 218px;
	background-color: pink;
}

.box2left{
	float: left;
	width: 638px;
	height: 218px;
	background-image: url(./images/ndh_02.jpg);
}

.box2right{
	float: left;
	width: 337px;
	height: 218px;
	background-image: url(./images/ndh_03.jpg);
}

.box3{
	/* height: 769px; */
	/* background-color: green; */
}

.box3z{
	float: left;
	width: 425px;
	/* height: 769px; */
	/* background-image: url(./images/ndh_04.jpg); */
}

.box3zh{
	float: left;
	width: 280px;
	height: 769px;
	background-image: url(./images/ndh_05.jpg);
}

.box3y{
	float: left;
	width: 270px;
	height: 769px;
	background-color: #ccc;
}

.box3ys{
	width: 270px;
	height: 368px;
	background-image: url(./images/ndh_06.jpg);
}

.box3yx{
	width: 270px;
	height: 401px;
	background-image: url(./images/ndh_07.jpg);
}

.foot{
	width: 975px;
	height: 92px;
	background-image: url(./images/ndh_08.jpg);
}

.box3ztop{
	width: 425px;
	height:30px ;
	/* /* background-color: orange; */ */
/* 	font-size: 20px;
	line-height: 30px;
	text-align: center; */
}
.box3zz{
	float: left;
	width: 150px;
}

.box3zzh{
	float: left;
	width: 140px;
	/* background-color: gray; */
}

.box3zy{
	float: left;
	width: 135px;
	/* background-color: orange; */
}

.box3 a{
	margin: 2px;
	display: block;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	color: black;
}
.box3 a img{
	float: left;
	margin: 5px;
	width: 30px;
	height: 30px;
}

.box3 a:hover{
	color: orange;
	border: 1px solid orange;
	border-style: dashed;
}

.box3 p{
	font-size: 16px;
	color: red;
	font-weight: 700;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
}